@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-container::-webkit-scrollbar {
    width: 20px;
  }
  
  .scroll-container::-webkit-scrollbar-thumb {
    
    background-color: #3b6cfff8; /* Change color as needed */
    border-radius: 50px;
    
  }
  
  .scroll-container::-webkit-scrollbar-track {
    background-color: #f0f0f0; /* Change color as needed */
    border-radius: 6px;
    
  }
  
  /* Optional: Style scrollbar on hover */
  .scroll-container:hover::-webkit-scrollbar-thumb {
    background-color: #362fbb; /* Change color as needed */
  }